/* =========================
   GLOBAL
========================= */

* {
  box-sizing:border-box;
}


html,
body {

  margin:0;

  padding:0;

  width:100%;

  min-height:100%;

  color:white;

  background:

  radial-gradient(
    circle at top left,
    rgba(59,130,246,0.22),
    transparent 35%
  ),

  radial-gradient(
    circle at bottom right,
    rgba(96,165,250,0.15),
    transparent 40%
  ),

  #0b1220;

  font-family:Arial, sans-serif;

  overflow-x:hidden;

}

#root {

  width:100%;

  margin:0;

  padding:0;

}

 .landing {

  width:100%;

  min-height:100vh;

  overflow-x:hidden;

   background:#07111f;

}

/* =========================
   NAVBAR
========================= */


.navbar {

  width:100%;
  display:flex;
  align-items:center;

  padding:16px 28px;

  background:

linear-gradient(
    135deg,
    rgba(30,41,59,.95),
    rgba(15,23,42,.95)
);

backdrop-filter:blur(15px);
}



.logo {

  font-size:22px;
  font-weight:700;
  color:#3b82f6;
  white-space:nowrap;

}



/* Desktop links */

.desktop-links {

  display:flex;
  align-items:center;
  gap:22px;
  margin-left:40px;

}



.desktop-links a {

  text-decoration:none;
  color:white;
  font-size:16px;

}


.desktop-links a:hover {

  color:#3b82f6;

}



/* Buttons */

.auth-buttons {

  display:flex;
  align-items:center;
  gap:12px;
  margin-left:auto;

}



.signin-btn {

  background:transparent;
  color:#3b82f6;

  border:2px solid #3b82f6;

  padding:12px 24px;

  border-radius:12px;

  font-size:15px;
  font-weight:600;

  height:46px;
  min-width:110px;

  cursor:pointer;

}



.signin-btn:hover {

  background:#3b82f6;
  color:white;

}



.signup-btn {

  background:#3b82f6;
  color:white;

  border:none;

  padding:12px 26px;

  border-radius:12px;

  font-size:15px;
  font-weight:700;

  height:46px;
  min-width:160px;

  cursor:pointer;

}



.signup-btn:hover {

  background:#2563eb;

}



/* =========================
   MOBILE DRAWER
========================= */


.overlay {

  position:fixed;
  inset:0;

  background:rgba(0,0,0,.7);

  opacity:0;
  visibility:hidden;

  transition:.3s;

  z-index:50;

}



.overlay.show {

  opacity:1;
  visibility:visible;

}



.mobile-drawer {

  position:fixed;

  top:0;
  right:-320px;

  width:280px;
  height:100vh;

  background:#111;

  z-index:60;

  padding:25px;

  display:flex;
  flex-direction:column;

  gap:18px;

  transition:.35s;

}



.mobile-drawer.open {

  right:0;

}



.drawer-header {

  display:flex;
  justify-content:flex-end;

}



.drawer-header button {

  background:#2563eb;

  color:white;

  border:none;

  width:60px;
  height:60px;

  border-radius:12px;

  font-size:28px;

  cursor:pointer;

}



.mobile-drawer a {

  color:white;

  text-decoration:none;

  text-align:center;

  padding:12px;

  font-size:18px;

  border-radius:8px;

}



.mobile-drawer a:hover {

  background:#222;

}



.drawer-actions {

  margin-top:auto;

  display:flex;

  flex-direction:column;

  gap:15px;

  padding-bottom:20px;

}



.drawer-signin,
.drawer-signup {

  width:100%;

  height:55px;

  border-radius:12px;

  font-size:18px;

  font-weight:700;

  cursor:pointer;

}



.drawer-signin {

  background:white;

  color:#2563eb;

  border:2px solid #2563eb;

}



.drawer-signup {

  background:#2563eb;

  color:white;

  border:none;

}



/* =========================
   HERO
========================= */


.hero {

  position:relative;

  min-height:650px;

  display:flex;

  align-items:center;

  justify-content:center;

  padding:80px 60px;

  overflow:hidden;

  background:
   linear-gradient(
    rgba(3,7,18,0.25),
    rgba(3,7,18,0.45)
  ),

  url("https://media.istockphoto.com/id/893311798/photo/bookkeeping-concept-binders-on-desk-in-the-office-business-background.jpg?s=612x612&w=0&k=20&c=tzMpOeohoIXfSWY1slD9pWqwo0Gh7OVaRiwsP3jrI3M=");

  background-size:cover;

  background-position:center 80%;

}

.hero::before {

  content:"";

  position:absolute;

  inset:0;

  background:

  radial-gradient(
    circle at 15% 50%,
    rgba(37,99,235,0.25),
    transparent 35%
  );

  z-index:1;

}



.hero-left {

  position:relative;

  z-index:2;

  max-width:700px;

  text-align:center;

}



.hero-left h1 {

  color:white;

  font-size:52px;

  line-height:1.2;

  font-weight:800;

  margin-bottom:20px;

  text-shadow:0 5px 25px rgba(0,0,0,.7);

}



.hero-left h1 span {

  display:block;

  margin-top:15px;

}



.hero-left p {

  color:#ccc;

  font-size:18px;

  line-height:1.6;

}



.hero-right {

  display:none;

}



.hero-right img {

  width:100%;

  max-width:500px;

  border-radius:18px;

  box-shadow:

  0 0 50px rgba(37,99,235,.25);


}



/* =========================
   FEATURES
========================= */


.features {

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:20px;

  padding:50px;


}



.feature {

  background:

  linear-gradient(
    145deg,
    rgba(30,41,59,.55),
    rgba(15,23,42,.85)
  );

  border:1px solid rgba(255,255,255,.08);

  backdrop-filter:blur(12px);

  box-shadow:

  0 15px 40px rgba(0,0,0,.5);

  padding:20px;

  border-radius:12px;

  text-align:center;

  color:white;

  

}



.feature img {

  width:150px;

  height:100px;

  object-fit:cover;

  border-radius:10px;

}



/* =========================
   DASHBOARD
========================= */


.dashboard-preview {

  display:flex;

  align-items:center;

  gap:40px;

  padding:60px;

 background:#0b1220;

}

.preview-text h2 {

  color:white;
  
  font-size:32px;

  font-weight:700;

}



.preview-image img {

  width:100%;

  border-radius:12px;

}



/* =========================
   PRICING
========================= */


.pricing {

  padding:60px 20px;

  text-align:center;

  background:#0b1220;

}



.pricing h2 {

  color:white;

  font-size:32px;

  margin-bottom:40px;

}



.pricing-grid {

  display:grid;

  grid-template-columns:repeat(3,320px);

  gap:25px;

  justify-content:center;

}



.plan {

  background:#111;

  color:white;

  padding:30px 25px;

  border-radius:12px;

  box-shadow:0 5px 20px rgba(0,0,0,.5);

  text-align:center;

  min-height:330px;

  display:flex;

  flex-direction:column;

  justify-content:space-between;

}



.plan h3 {

  font-size:24px;

}



.price {

  font-size:28px;

  font-weight:bold;

  color:#3b82f6;

}



.plan li {

  margin:12px 0;

}



.plan button {

  width:100%;

  padding:14px;

  background:#3b82f6;

  color:white;

  border:none;

  border-radius:10px;

  font-weight:600;

}



.plan.featured {

  border:2px solid #3b82f6;

  transform:translateY(-10px);

}



/* =========================
   TESTIMONIALS
========================= */


.testimonial-grid {

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:20px;

  padding:40px;

  background:#0b1220;

}



.testimonial {

  background:#111;

  color:white;

  padding:20px;

  border-radius:12px;

}



.testimonial img {

  width:50px;

  height:50px;

  border-radius:50%;

}



/* =========================
   FOOTER
========================= */


.footer {

  text-align:center;

  background:#0b1220;

  color:white;

  border-top:1px solid #222;

  padding:20px;

}



/* =========================
   HAMBURGER
========================= */


.hamburger {

  display:none;

  background:none;

  border:none;

  color:#3b82f6;

  font-size:32px;

}



/* =========================
   RESPONSIVE
========================= */


@media(max-width:1024px){


.desktop-links,
.auth-buttons{

display:none;

}


.hamburger{

display:block;

margin-left:auto;

}


}



@media(max-width:768px){


.hero {

flex-direction:column;

padding:40px 20px;

text-align:center;

}

.hero {

  min-height:550px;

  padding:40px 20px;

}


.hero-left h1 {

  font-size:32px;

}



.hero-left h1 {

font-size:28px;

}



.features {

grid-template-columns:1fr;

padding:20px;

}



.dashboard-preview {

flex-direction:column;

padding:30px;

}



.pricing-grid {

grid-template-columns:1fr;

}



.plan {

width:90%;

max-width:350px;

}



.plan.featured {

transform:none;

}



.testimonial-grid {

grid-template-columns:1fr;

padding:20px;

}

}

/* Remove unwanted page edges */
html,
body,
#root,
.landing {
    width:100vw;
    max-width:100%;
    margin:0;
    padding:0;
    border:none;
}